[submodule "go.ta-lib"]
	path = go.ta-lib
	url = https://gitee.com/quant1x/ta-lib
[submodule "go.pandas"]
	path = go.pandas
	url = https://gitee.com/quant1x/pandas
[submodule "go.stdlib"]
	path = go.stdlib
	url = https://gitee.com/quant1x/gox
[submodule "python.xtquant-win64"]
	path = python.xtquant-win64
	url = https://gitee.com/quant1x/xtquant
[submodule "go.tdx"]
	path = go.tdx
	url = https://gitee.com/quant1x/gotdx
[submodule "python.miniQMT-win64"]
	path = python.miniQMT-win64
	url = https://gitee.com/quant1x/qmt
[submodule "python.formula"]
	path = python.formula
	url = https://gitee.com/quant1x/formula
[submodule "python.pytdx"]
	path = python.pytdx
	url = https://gitee.com/quant1x/pytdx
